<h1>Número 1      = <%= @num1%></h1>
<h1>Número 2      = <%= @num2%></h1>

<h1>Soma          <%= @resuls%></h1>
<%= link_to 'soma', som_path%> 

<h1>Multiplicação <%= @resulm%></h1>
<%= link_to 'multiplicação', mul_path%>

<h1>Subtração     <%= @resulsub%></h1>
<%= link_to 'subtração', sub_path%>

<h1>Divisão       <%= @resuld%></h1>
<%= link_to 'divisão', div_path%>

